
/*  Targeting Cookies for Embedded Videos    */

/* Popup container - can be anything you want */
body{
	margin-top:200px;
	text-align:center;
}
.popup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width:400px;
  border:solid thin;
  background-color: #0A4385;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 40%;
  margin-left: -200px;
}

.popup .popuptext a{
  color: #fff;
  text-decoration: underline;
}

.popup .popuptext a:hover{
  color: #f8fcf9;
  text-decoration: none;
}

.popup .popuptext a .ot-sdk-show-settings::before{
  content: "Click Here";
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0A4385 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
